.cardoutside{
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px 16px;
}

.cardbody{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productdetails{
    display: flex  ;
    align-items: center;
    justify-content: center ;
}
.cd2 {
    border-radius: 16px;
   
    height: 10rem;
}